body {
    font-family: 'Arial';
    font-size: 14px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

.align-center {
    text-align: center;
}