$header-nav-item : $curious-blue;
$header-border   : $silver;
$header-bg       : $whitesmoke;

header {
    padding: 15px;
    background: $header-bg;
    border-bottom: 1px solid $header-border;

    nav {
        ul { 
            @include clearfix;
        }
        li {
            float: left;
            width: 100px;
            transform: translateY(100%);
            text-align: center;
            text-transform: uppercase;
        }
        a, a:visited {
            color: $header-nav-item;
            &.active {
                font-weight: bold;
            }
        }
    }

    .logo {
        height: 50px;
        float: left;
    }

}